body {
  background-image: url(../imgs/fondbleu.jpg);
  width: 100%;
}

.footer-bottom {
  padding: 15px 0;
  font-size: 11px;
  color: #777;
}

/* .navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.logo {
  width: 30px;
  height: 30px;
} */

.webcams-container {
  max-width: 90%;
  margin-left: 3.5%;
  margin-bottom: 5%;
}

body {
  text-align: center;
}

input {
  text-align: center;
}

.red {
  color: orangered;
}

.blue {
  color: blue;
}

.logo {
  margin-top: 2%;
  margin-bottom: 2%;
}

input {
  max-width: 90%;
  margin-left: 5%;
}

.glyphicon {
  font-size: 2em;
  margin-top: 0.5%;
}