@font-face {
  font-family: 'steelworsteelworksvintagedemo';
  src: url('../fonts/steelworks_vintage_demo-webfont.woff2') format('woff2'), url('../fonts/steelworks_vintage_demo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 3em;
}

.footer-bottom {
  padding: 15px 0;
  font-size: 11px;
  color: #777;
}

.fontsteel {
  font-family: 'steelworsteelworksvintagedemo'
}

.webcams-container {
  max-width: 90%;
  margin-left: 3.5%;
  margin-bottom: 5%;
}

body {
  text-align: center;
  width: 100%;
  background-image: url(../imgs/geometricbg.jpg);
}

a {
  text-decoration: none;
}

.logo {
  margin-top: 2%;
  margin-bottom: 2%;
}

input {
  max-width: 40%;
  margin-left: 29%;
  text-align: center;
}

.glyphicon {
  font-size: 2em;
  margin-top: 0.2%;
  margin-left: -24%;
}

.sunnybg {
  width: 100%;
  height: 100%;
  background-image: url(../imgs/sunny.jpg);
}

.nuagesol {
  width: auto;
  height: auto;
  background-image: url(../imgs/nuage-soleil.jpg);
  color: #D8D4CE;
}

.nuage {
  width: auto;
  height: auto;
  background-image: url(../imgs/nuage.jpg);
  color: #D8D4CE;
}

.rain {
  width: auto;
  height: auto;
  background-image: url(../imgs/rain.jpg);
  color: #D8D4CE;
}

.orageeclaire {
  width: auto;
  height: auto;
  background-image: url(../imgs/orageeclaire.jpg);
  color: #D8D4CE;
}

.neige {
  width: auto;
  height: auto;
  background-image: url(../imgs/snow.jpg);
  color:#597A9B;
}

.fog {
  background-image: url(../imgs/fog.jpg);
  color:#597A9B;;
}

.night {
  width: auto;
  height: auto;
  background-image: url(../imgs/night.jpg);
  color:#D8D4CE;
}

.nightcloud {
  width: auto;
  height: auto;
  background-image: url(../imgs/night-clouds.jpg);
  color:#D8D4CE
}

.nightrain {
  width: auto;
  height: auto;
  background-image: url(../imgs/night-rain.jpg);
  color:#D8D4CE
}

.nightstorm {
  width: auto;
  height: auto;
  background-image: url(../imgs/night-storm.jpg);
  color:#D8D4CE
}

.nightsnow {
  width: auto;
  height: auto;
  background-image: url(../imgs/night-snow.jpg);
  color:#D8D4CE
}

.nightfog {
  width: auto;
  height: auto;
  background-image: url(../imgs/night-fog.jpg);
  color: #D8D4CE;
}

.cams img {
  border-radius: 25px;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: greenyellow;
}

@media screen and (max-width: 750px) {
  body {
    height: 100%;
  }
  .webcams-container {
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .cams {
    margin-bottom: 2%;
  }
  .cams img {
    max-width: 135%;
    margin-left: 12.5%;
    border-radius: 15%;
  }
}