body {
  width: 100%;
}

.footer-bottom {
  padding: 15px 0;
  font-size: 11px;
  color: #777;
}

/* .navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.logo {
  width: 30px;
  height: 30px;
} */

.webcams-container {
  max-width: 90%;
  margin-left: 3.5%;
  margin-bottom: 5%;
}

body {
  text-align: center;
  color: wheat;
}

.red {
  color: orangered;
}

.blue {
  color: blue;
}

.logo {
  margin-top: 2%;
  margin-bottom: 2%;
}

input {
  max-width: 90%;
  margin-left: 5%;
  text-align: center;
}

.glyphicon {
  font-size: 2em;
  margin-top: 0.5%;
}

.sunnybg{
  width: 100%;
  height: 100%;
  background-image: url(../imgs/sunny.jpg);
}

.nuagesol{
  width: auto;
  height: auto;
  background-image: url(../imgs/nuage-soleil.jpg)
}

.nuage{
  width: auto;
  height: auto;
  background-image: url(../imgs/nuage.jpg)
}

.rain{
  width: auto;
  height: auto;
  background-image: url(../imgs/rain.jpg)
}

.orageeclaire{
  width: auto;
  height: auto;
  background-image: url(../imgs/orageeclaire.jpg)
}

.neige{
  width: auto;
  height: auto;
  background-image: url(../imgs/neige.jpg)
}

.fog{
  width: auto;
  height: auto;
  background-image: url(../imgs/fog.jpg)
}

.nigth{
  width: auto;
  height: auto;
  background-image: url(../imgs/nigth.jpg)
}

.nigthcloud{
  width: auto;
  height: auto;
  background-image: url(../imgs/night-clouds.jpg)
}
.nigthrain{
  width: auto;
  height: auto;
  background-image: url(../imgs/nigth-rain.jpg)
}

.nigthstorm{
  width: auto;
  height: auto;
  background-image: url(../imgs/nigth-storm.jpg)
}

.nigthsnow{
  width: auto;
  height: auto;
  background-image: url(../imgs/nigth-snow.jpg)
}

.nigthfog{
  width: auto;
  height: auto;
  background-image: url(../imgs/nigth-fog.jpg)
}

@media screen and (max-width: 750px){
  body {
    height: 100%;
  }

  .webcams-container {
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .cams {
    margin-bottom: 2%;
  }

  .cams img {
    max-width: 135%;
    margin-left: 12.5%;
  }
}