@font-face {
  font-family: 'steelworsteelworksvintagedemo';
  src: url('../fonts/steelworks_vintage_demo-webfont.woff2') format('woff2'),
       url('../fonts/steelworks_vintage_demo-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body {
  width: 100%;
  background-image: url(../imgs/geometricbg.jpg)
}

.footer-bottom {
  padding: 15px 0;
  font-size: 11px;
  color: #777;
}

/* .navbarLive Weather Wild App
ï¿¼
 .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.logo {
  width: 30px;
  height: 30px;
} */
.fontsteel{
  font-family: 'steelworsteelworksvintagedemo'
}

.webcams-container {
  max-width: 90%;
  margin-left: 3.5%;
  margin-bottom: 5%;
}

body {
  text-align: center;
  color: cadetblue;
}

a {
  text-decoration: none;
  color: cyan;
}

.red {
  color: red;
}

.blue {
  color: darkblue;
}

.green {
  color: greenyellow;
}

.logo {
  margin-top: 2%;
  margin-bottom: 2%;
}

input {
  max-width: 90%;
  margin-left: 5%;
  text-align: center;
}

.glyphicon {
  font-size: 2em;
  margin-top: 0.5%;
}

.sunnybg{
  width: 100%;
  height: 100%;
  background-image: url(../imgs/sunny.jpg);
}

.nuagesol{
  width: auto;
  height: auto;
  background-image: url(../imgs/nuage-soleil.jpg)
}

.nuage{
  width: auto;
  height: auto;
  background-image: url(../imgs/nuage.jpg)
}

.rain{
  width: auto;
  height: auto;
  background-image: url(../imgs/rain.jpg)
}

.orageeclaire{
  width: auto;
  height: auto;
  background-image: url(../imgs/orageeclaire.jpg)
}

.neige{
  width: auto;
  height: auto;
  background-image: url(../imgs/snow.jpg)
}

.fog{
  width: auto;
  height: auto;
  background-image: url(../imgs/fog.jpg)
}

.night{
  width: auto;
  height: auto;
  background-image: url(../imgs/nigth.jpg)
}

.nightcloud{
  width: auto;
  height: auto;
  background-image: url(../imgs/night-clouds.jpg)
}
.nightrain{
  width: auto;
  height: auto;
  background-image: url(../imgs/nigth-rain.jpg)
}

.nightstorm{
  width: auto;
  height: auto;
  background-image: url(../imgs/nigth-storm.jpg)
}

.nightsnow{
  width: auto;
  height: auto;
  background-image: url(../imgs/nigth-snow.jpg)
}

.nightfog{
  width: auto;
  height: auto;
  background-image: url(../imgs/nigth-fog.jpg)
}

@media screen and (max-width: 750px){
  body {
    height: 100%;
  }

  .webcams-container {
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .cams {
    margin-bottom: 2%;
  }

  .cams img {
    max-width: 135%;
    margin-left: 12.5%;
  }
}
