<div class="weather-container">
  <div class="weather">
    <div class="alert alert-danger" ng-show="$ctrl.error.length >= 0">
      {{$ctrl.error}}
    </div>

    <div class="weather container">

      <div class="town">
        <div class="form-group">
          <input class="form-control col-xs-1" ng-model="city" />
          <a href="#"><span class="glyphicon glyphicon-search "  ng-click="$ctrl.getMeteo(city)"></span></a>
        </div>

        <!-- <button class="btn btn-default" ng-click="$ctrl.getMeteo(city)">
          Poster
        </button> -->
      </div>

      <h2 >Live Weather in : <span ng-show="!city"><em>entrez une ville dans le champs de recherche</em></span> <span ng-bind="city.toUpperCase()"></span></h2>

      <div class="content" ng-show="$ctrl.weather">
        <h3>Conditions : {{$ctrl.weather.weather[0].description.toUpperCase()}}</h3>
        <h3 class="fontsteel">Temp actuelle : <span class="green">{{$ctrl.weather.main.temp}}°C</span></h3>
        <h3 class="fontsteel">Temp min: <span class="blue">{{$ctrl.weather.main.temp_min}}°C</span></h3>
        <h3 class="fontsteel">Temp max: <span class="red">{{$ctrl.weather.main.temp_max}}°C</span></h3>
        <img class="logo" ng-src="{{$ctrl.weatherImg}}" alt="Conditions météo">
        <h4><em>{{$ctrl.citation}}</em></h4>
      </div>
    </div>

    <div class="webcams-container row">
      
        <div class="cams col-lg-4 col-xs-8" ng-repeat="webcam in $ctrl.webcams">
          <a name="lkr-timelapse-player" data-id="{{webcam.id}}" data-play="day" href="https://lookr.com/{{webcam.id}}" target="_blank">
            <img class="thumbnail" ng-src="{{webcam.image.current.preview}}" alt="webcam">
            <h4>{{webcam.title}}</h4>
          </a>
          <a name="lkr-timelapse-player"
          data-id="{{webcam.id}}"
          data-play="day"
          href="https://lookr.com/{{webcam.id}}"
          target="_blank"
          class="webcamitem">
          </a>
        </div>
      </div>
    
  </div>
</div>


<script async type="text/javascript" src="js/player.js"></script>