<div class="webcams-container">
  <div class="stats">
    <span ng-if="$ctrl.webcams.length > 0">{{$ctrl.webcams.length}} webcam(s)</span>
  </div>

  <div class="cams" ng-repeat="webcam in $ctrl.webcams">
    <a name="lkr-timelapse-player" data-id="{{webcam.id}}" data-play="day" href="https://lookr.com/{{webcam.id}}" target="_blank">
      <img ng-src="{{webcam.image.current.preview}}" alt="webcam">
    </a>
    
  </div>
</div>

<script async type="text/javascript" src="https://api.lookr.com/embed/script/player.js"></script>